<!DOCTYPE html>
<html>
<head>
  <title>Alia</title>
  <%= stylesheet_link_tag    "Alia/all", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "Alia/all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="navbar">
    <ul>
        <% if current_site_admin.present? %>
          <li><%= button_to "Sign Out", destroy_site_admin_session_path, method: :delete, :id => "button" %></li>
        <% end %>
        <li><%= link_to "Home", '/' %></li>
        <% if current_customer.present? %>
          <li><%= button_to "Sign Out", destroy_customer_session_path, method: :delete, :id => "button" %></li>
        <% else %>
          <li><%= link_to "Sign In", new_customer_session_path, class: "btn-ghost" %></li>
          <li><%= link_to "Registration", customer_signup_path, class: "btn-ghost" %></li>
        <% end %>
    </ul>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="content">
    <%= yield %>
  </div>

  <div class="footer"> Shop Name <strong>@2018</strong>.</div>

</body>
</html>
