<p id="notice"><%= notice %></p>

<h1>Shops</h1>

<table>
  <thead>
    <tr>
      <th>Shop name</th>
      <th>Subdomain</th>
      <th>Domain</th>
      <th>Theme</th>
      <th>Main product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.shop_name %></td>
        <td><%= shop.subdomain %></td>
        <td><%= shop.domain %></td>
        <td><%= shop.theme_id %></td>
        <td><%= shop.main_product_id %></td>
        <td><%= link_to 'Show', control_panel_shop_path(shop) %></td>
        <td><%= link_to 'Edit', edit_control_panel_shop_path(shop) %></td>
        <td><%= link_to 'Destroy', control_panel_shop_path(shop), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shop', new_control_panel_shop_path %>
