<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Decrption</th>
      <th>Min price</th>
      <th>Reseller price</th>
      <th>Price</th>
      <th>Tax rate</th>
      <th>Is tax inclusive</th>
      <th>Is featured</th>
      <th>Is private</th>
      <th>Is community product</th>
      <th>Subcategory</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.decrption %></td>
        <td><%= product.min_price %></td>
        <td><%= product.reseller_price %></td>
        <td><%= product.price %></td>
        <td><%= product.tax_rate %></td>
        <td><%= product.is_tax_inclusive %></td>
        <td><%= product.is_featured %></td>
        <td><%= product.is_private %></td>
        <td><%= product.is_community_product %></td>
        <td><%= product.subcategory_id %></td>
        <td><%= product.image %></td>
        <td><%= link_to 'Show', control_panel_product_path(product) %></td>
        <td><%= link_to 'Edit', edit_control_panel_product_path(product) %></td>
        <td><%= link_to 'Destroy', control_panel_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_control_panel_product_path %>
<%= link_to 'Add Community Product', control_panel_community_products_path %>
